<h1>Flash Cards</h1>

<center><h2>Current High Scores</h2></center>
<% @users.each do |user| %>
  <center><%= "#{user.first_name} #{user.last_name} - High Score: #{user.hi_score}" %></center>
<% end %>