<%= stylesheet_link_tag 'playing_card.css' %>

<h1 class="text-center">Flash Cards</h1>

<div class="high-scores" >
  <center><h2>Current High Scores</h2></center>
  <div class="h_line_scores text-center"></div><br>
  <% @users.each do |user| %>
    <div class="high-score" id=<%= "user-#{user.id}" %>>
      <h4><center><%= "#{user.first_name} #{user.last_name} - High Score: #{user.hi_score}" %></center></h4>
    </div>
  <% end %>
</div>